*, *:before, *:after {
    box-sizing: border-box; 
}

/*heimild: https://gridbyexample.com/examples/example13/ */

/* ====== GRID Area ====== */

.topnav {
  grid-area: topnav;
}
header {
  grid-area: header;
}
.content {
  grid-area: content;
}
footer {
  grid-area: footer;
}
.midja {
  grid-area: midja;
}
.vinstri {
  grid-area: vinstri;
}
.haegri {
  grid-area: haegri;
  
}


/* ====== GRID Template Areas ===== */
body {
  display: grid;
  grid-gap: 0;
  grid-template-areas: 
    "topnav"
    "header"
    "content"
    "footer";
    
    
}


/* ====== Base litir + padding ====== */

body {
  line-height: 1.5em;


}
.topnav {
  background-color:gold ; 


}
header {
  background-color: tomato;
  align-items: center; 
}
footer {
  background-color: lightgreen; 

}
.midja {
  background-color:skyblue ; 
 


}
.vinstri, 
.haegri {
  background-color: gold ; 
}

header,
footer,
.midja,
.vinstri, 
.haegri {
  padding: 1em; 
}


/* ====== leturstílar ====== */

header h1 {
  color: #fff;
  line-height: 1.2;
  font-weight: normal;
}
.midja h2 {
  margin: .7em 0 .8em 0;
}
.midja h4 {
  text-align: justify;
  margin: .4em 0;
}
.midja p {
  text-align: justify;
}

/* ========================================
  Efnisyfirlit
  ======================================== */

.topnav ul{
  background: gold;
}

.topnav input{
  display: none;


}

.topnav label{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  color: #fff;
  background-color: #069;
  font-size: 1.1em;
  border: 3px outset #999;
  padding: .2em;
  text-align: center;
}

.topnav input:checked + label {
  box-shadow: inset 0 .2em rgba(0, 0, 0, 0,3);
  border: 2px inset #999;
}

.topnav input:checked ~ .topmenu {
  position: fixed;
  bottom: 2.2em;
  left: 0;
}

.topmenu {
  display: block;
  position: fixed;
  bottom: -10em;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none; 
  width: 100%;
  transition: all .3s ease;
  z-index: 90;
}
.topmenu li {
  border: 0;
  border-bottom: 1px solid black; 
  padding: 0;
  margin: 0;
}

.topmenu a {
  display: block;     /* ath! */
  color: black;
  text-decoration: none;
  text-align: center;
  padding: .4em 2em; 
}

.topmenu a:hover,
.topmenu a:active,
.virkur {
  color: black !important
  background-color: lime;
  transition: all .5s ease;
}
footer {

}

    dd {
    width: 95px;
    height: 70px;
    background-color: red;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 8s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 8s infinite;
    border-radius: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;

}

/* Safari 4.0 - 8.0 */
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}

/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: -50px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: -50px;}
    to {left: 250px;}
}

.haegri {
  overflow: hidden;
  background-image: url(myndir/bak.jpg);
}

.auglo {
   margin-top: 6em;
   padding-left: 1em;
}

path,
circle,
svg {
  margin-left: 2em;
}

.mynd {
  background-image: url("myndir/money.jpg");
  
}


dt{
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    
}

#myDiv {
  position: relative;
  animation: spin 10s infinite; 


}

@keyframes spin {
  50% { transform: rotateY(150deg); }
  50% { transform: rotateY(150deg); }
}

.bot {
  padding-top:   2em;
  color: white;
  font-family: 'Roboto Slab', serif;

}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?45sry7');
  src:  url('fonts/icomoon.eot?45sry7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?45sry7') format('truetype'),
    url('fonts/icomoon.woff?45sry7') format('woff'),
    url('fonts/icomoon.svg?45sry7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-facebook2 {
  columns: #fff;
  padding-left: 0.3em;
  font-size: 1.2em;
}
.icon-instagram {
  content: "\ea92";
  padding-left: 0.3em;
  font-size: 1.2em;
}
.icon-twitter{
  content: "\ea96";
  padding-left: 0.3em;
  font-size: 1.2em;
  

}
.icon-tumblr2 {
  content: "\eaba";
  padding-left: 0.3em;
  font-size: 1.2em;
}


.icon-hour-glass:before {
  content: "\e979";
}

.icon-spinner:before {
  content: "\e97a";
}

.icon-spinner6:before {
  content: "\e97f";
}

.icon-fire:before {
  content: "\e9a9";
}

.icon-windows:before {
  content: "\eac1";
}

.icon-windows8:before {
  content: "\eac2";
}

.icon-point-left:before {
  content: "\ea06";
}

.icon-point-right:before {
  content: "\ea04";
}

.icon-pacman:before {
  content: "\e916";
}

.icon-flickr:before {
  content: "\eaa3";
}

.icon-hour-glass{
  
}

.icon-spinner{
  
  font-size: .7em;
  padding-right: .4em;
}

.icon-spinner6{
  
  font-size: .7em;
  padding-left: .4em;
}

.icon-fire{
 
}

.icon-windows{
  
 
}

.icon-windows8{
  
  

}

.icon-point-left{
  font-size: 0.9em;
  padding-left: 0.1em;
}


.icon-point-right{
  content: "\ea04";
  font-size: 0.9em;
}

.icon-pacman{
  color: yellow
  
   
}

.icon-flickr{
  color: white;
  

}







.element {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 5s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top:  3em;

}



.modal {
  
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em;
  margin-left: 2em;

}
@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em;
  }
}
.modal > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  border-radius: .2em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s;
}
.modal > label:hover {
  transform: scale(0.97);
}

.modal__overlay {
  background: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}
.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}
@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
  }
}
@media (min-height: 50.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
  }
}
.modal__wrap label {
  background: #FFD300;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}
.modal__wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.modal__wrap p {
  color: #FFD300;
  text-align: justify;
}
.modal input:focus ~ label {
  transform: scale(0.97);
}

input {
  position: absolute;
  top: -1000px;
}

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

input:checked ~ .modal__overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 800;
}

@keyframes stretch {
  0% {
    transform: scale(.1);
    background-color: black;
    border-radius: 100%;
  }
  50% {
    background-color: red;
  }
  100% {
    transform: scale(1.0);
    background-color: red;
  }
}


.gulur {
  background-color: yellow;
}

.raudur {
  background-color: red;
}

.graenn {
  background-color: green;
}

.blar {
  background-color: blue;
}

.bleikur {
  background-color: pink;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

body {
  background-color: #ff4814;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

.opna {
  border-radius: 1em;
  background-color: grey;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 1em;
}





/* =======================================
   Myndvinnsla  
  ======================================== */

  img, video {
    max-width: 100%;
    height: auto;
  }

  figure{
    margin: 0;
    border: 1px solid orange;
  }

  img {
    display: block;
  }

  .myndabox{
    width: 162px;
  }

/*  myndir <img> alltaf í 100% stærð munið að vinna og 
    þjappa myndir í photoshop ! */

  /********************social********/

  .facebook {

  }

  .instagram {

  }

  .twitter {

  }

  .tumblr {

  }

  .sMedia{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
        padding-bottom: 2em;

  }
  .sMedia a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
  }
  .sMedia div {
    background: purple;
    padding-top: .5em;

    margin: 0;
    width: 2.5em;
    height: 2.5em;
  }

  .sMedia div:hover,
  .sMedia div:active {
    transition: all 1s ease;
    width: 4em;
  }

  a:hover,
  a:active {
    
  }
/*  ========================================
  Viðmið - breakpoints 30em = 480px + 
  ========================================*/

@media screen and (min-width: 30em) {  /* það má ekki setja slaufusvigann í næstu línu, þá virkar ekki viðmiðið */
  .myndabox {
    display: grid;
    grid-template-columns: 1fr 1fr 
  }
  
}

/*  ========================================
  Viðmið - breakpoints 37.5em = 600px + 
  ========================================*/
  @media screen and (min-width: 37.5em) {
  .content {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
      "vinstri midja"
      "haegri midja";
    grid-template-columns: 1fr 2fr;
     
  }
}


/* ========================================
  Viðmið - breakpoints 48em = 760px +
  ======================================== */
  @media screen and (min-width: 48em) {
  
  body {
  grid-template-areas: 
    "topnav"
    "header"
    "content"
    "footer";
  }
  .topnav label{
  display: none;
  }
  .topmenu {
    display: flex;
    flex-flow:  row;
    justify-content: center;

    position: relative;
    top: 0;
  }
  .topmenu li{
    
    border: 0;
    border-left: 1px solid black;
    
  }
  .topmenu li{
    border: 0;
    border-right: 1px solid black;
  }
  img{
    
    
    
  }
}


/* ========================================
  Viðmið - breakpoints 60em = 960px +
  ======================================== */
  @media screen and (min-width: 60em) {
    body {
      max-width: 58em;
      margin: 0 auto;
    }
    .content {
      grid-template-areas: 
      "vinstri midja haegri";

      grid-template-columns: 1fr 3fr 1fr;
    }
    .myndabox {
      grid-template-columns: repeat(4, 84%);
    }
    .sMedia{
      display: flex;
      flex-flow: column;
      position: fixed;
      top: 4em;
      left: -.5em;
      height: 10em;
      width: 3em;
    }

  }


/* ========================================
  Viðmið - breakpoints 80em = 1600px +
  ======================================== */
  @media screen and (min-width: 80em) {
    body{
      max-width: 77em;
      margin: 0 auto;
    }
  }


  /* =================================
      ICON
  ===============================*/


    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
